.graph {
    position: relative;
    top: 373px;
    height: 48vh;
    width: 90vh;
    left: 315px;
    background: #e8eaec;
    /* background: #ffffff; */
}
.pie {
    position: relative;
    top: 12px;
    left: 1100px;
    width: 340px;
    height: 370px;
    box-shadow: 10px;
}